/* Header Start */
header {
    width: 100%;
    top: 0;
    left: 0;

}

/* Navbar Styles */
.navbar {
    padding: 15px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

nav img {
    width: 200px;
    padding-bottom: 12px;

}

.menu ul {
    gap: 45px;

}

.menu li {
    list-style: none;
}

.menu li a {
    color: var(--text-dark-color);
    font-family: var(--font-family-primary);
    position: relative;

}

.menu li a:hover {
    text-decoration: underline 2px solid #ff6600;
}

/* Hamburger Icon */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    margin-top: 10px;
}


/* responsive header  Start*/
@media (max-width: 1000px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgb(70, 70, 70);


    }

    .menu ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .menu ul li {
        padding: 10px;
    }

    .menu ul li a {
        display: block;
        width: 100%;
        color: var(--white-color);
    }

    .menu-toggle {
        display: block;
        margin: 5px;
    }

    .menu.active {
        display: flex;
    }

    .btn-orange {
        text-align: center;
        margin-top: 15px;
        padding: 17px 54px;
        margin: 5px;
    }

}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgb(70, 70, 70);

    }

    .menu.active {
        display: flex;
    }

    .menu ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0;
        color: var(--white-color);
    }

    .menu li {
        gap: 30px;
    }

    .menu-toggle {
        display: block;
        margin: -26px;
    }

    .btn-orange {
        text-align: center;
        margin-top: 15px;
        padding: 8px 20px;
        margin: 5px;
    }

    .btn-blue {
        padding: 8px 20px;
    }

}

@media (max-width: 575px) {
    nav img {
        width: 140px;
    }

    .menu-toggle {
        font-size: 28px;
        margin-left: 10px;
    }

    .menu ul {
        gap: 15px;
    }

    .btn-orange {
        text-align: center;
        margin-top: 15px;
        padding: 1px 1px;
        margin: 5px;
        font-size: 15px;
    }

    .btn-blue{
        text-align: center;
        margin-top: 15px;
        padding: 9px 1px;
        margin: 5px;
        font-size: 15px;
    }
}

/* responsive header End */

/* Header End */

/* Subscribe Section Start */
.subscribe {
    background-image: url('../image/footorinput.svg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    gap: 20px;
    border-radius: 40px;
    color: var(--white-color);
    padding: 110px 10%;
    max-width: 1140px;
    width: 100%;
    margin: 0px auto;
    font-family: var(--font-family-primary);
    position: relative;
    top: -152px;
}

.subscribe h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: var(--white-color);
}

.subscribe span {
    display: block;
}

.subscribe .input-container {
    background: var(--white-color);
    border-radius: 12px;
    overflow: hidden;
    padding: 5px;
    max-width: 500px;
    width: 100%;
}

.subscribe input {
    flex: 1;
    padding: 15px;
    border: none;
    outline: none;
}

.subscribe button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;

}

.subscribe button:hover {
    background-color: #be5214;
}

/* Subscribe Section End */

/* Responsive Subscribe Section Start*/
@media (max-width:768px) {
    .subscribe {
        padding: 30px 5%;
    }

    .subscribe h2 {
        font-size: 28px;
    }

    .subscribe span {
        font-size: 28px;
    }

    .subscribe .input-container {
        gap: 10px;
        padding: 10px;
    }

    .subscribe input {
        max-width: 100%;
        padding: 10px;
        font-size: 14px;
    }

    .subscribe button {
        max-width: 100%;
        padding: 10px;
        font-size: 14px;
    }
}

/* Responsive Subscribe Section End/ 

/* Top Footer  Start*/
hr {
    color: #101a24;
    opacity: 10%;
}



.top-footer {
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px;
    color: var(--text-body-color);
    flex-wrap: wrap;
}

.top-footer .logo img {
    width: 193px;
    height: auto;
    margin-bottom: 10px;
}

.top-footer .links {
    flex: 1;
    margin: 0 20px;
}

.top-footer h1 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;

}

.top-footer ul {
    list-style: none;
    padding: 0;
}

.top-footer ul li {
    margin: 5px 0;
}

.top-footer ul li a {
    color: var(--text-body-color);
    text-decoration: none;
    transition: 0.3s;
}

.top-footer .follow-links {
    gap: 10px;
    flex-direction: column;
}

.top-footer .follow-links img {
    width: 30px;
    height: 30px;
}

.logo p span {
    display: block;

}

.links {
    padding-left: 60px;
}

.links h2 {
    color: var(--text-dark-color);
    text-transform: uppercase;
    margin-bottom: 15px
}

.follow-links h2 {
    color: var(--text-dark-color);
    text-transform: uppercase;

}

/* Top Footer  End*/

/* Middle Footer Start*/
.middle-footer {
    padding: 20px;
    color: var(--text-body-color);
    margin-top: 35px;
}

/* footer bg image Start */
.footer-section {
    margin-top: 0px;
    /* padding-top: 9rem; */
    /* padding-bottom: 7rem; */
    background-color: var(--white-color);
    line-height: var(--line-height-29);
    position: relative;
    overflow: hidden;
}

.bottom-footer::before {
    left: 90%;
    transform: translateX(-75%) rotate(280deg);
    bottom: -10%;
    opacity: .3;
    z-index: 1;
    content: "";
    position: absolute;
    width: 929px;
    height: 900px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../image/texture/Group.svg');

}

.container {
    position: relative;
    z-index: 2;

}

/* footer bg image End */
.middle-footer h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--text-dark-color);

}

.shedule {
    display: flex;
    gap: 20px;
}

.s1 {

    padding: 10px;
    border-radius: 5px;
}

.circle {
    height: 40px;
    width: 40px;
    background-color: var(--white-color);
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;


}

.circle img {
    margin: 3px;
}

/* Middle Footer End*/


/* Bottom Footer Start */
.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: var(--text-body-color);
    flex-wrap: wrap;
    margin-top: 15px;
}

.copyright span {
    color: var(--text-body-color);
    font-weight: var(--font-bold);
}

.term {
    display: flex;
    gap: 20px;
}

.term .p {
    cursor: pointer;
    transition: 0.3s;
}

.term a {
    color: var(--text-body-color);
}

.term .p:hover {
    color: #ff9800;
}

/* Bottom Footer End */

/* Responsive All footer Start */
@media (max-width:1000px) {
    .top-footer {
        flex-wrap: nowrap;
    }

    .top-footer .follow-links {
        margin-left: 30px;
        gap: 20px;

    }

    .follow-links .circle {

        margin: 5px;
    }

    .bottom-footer {
        padding: 0px;
    }

    .footer-section {
        padding-top: 9rem;
        padding-bottom: 7rem;
        background-color: var(--white-color);
        line-height: var(--line-height-29);
        font-size: var(--font-size-15);
        position: relative;
        overflow: hidden;
    }

    .bottom-footer::before {
        left: 113%;
        transform: translateX(-75%) rotate(280deg);
        bottom: 11%;
        opacity: .3;
        z-index: 1;
        content: "";
        position: absolute;
        max-width: 919px;
        height: 850px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../image/texture/Group.svg);
    }
}


@media (max-width: 768px) {
    .top-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .follow-links img {
        align-items: center;
        gap: 10px;
    }

    .top-footer .links {
        margin: 20px 0;
    }

    .middle-footer h2 {
        text-align: center;
    }

    .links {
        padding-left: 0px;
    }

    .shedule {
        flex-direction: column;
        align-items: center;
    }

    .bottom-footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .bottom-footer::before {
        left: 133%;
        transform: translateX(-73%) rotate(290deg);
        bottom: 45%;
        opacity: .3;
        z-index: 1;
        content: "";
        position: absolute;
        max-width: 951px;
        height: 782px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../image/texture/Group.svg);
    }
}

@media (max-width:595px) {
    .bottom-footer::before {
        left: 147%;
        transform: translateX(-73%) rotate(290deg);
        bottom: 21%;
        opacity: .3;
        z-index: 1;
        content: "";
        position: absolute;
        max-width: 300px;
        height: 900px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../image/texture/Group.svg);
    }
}

/* Responsive All footer End*/

/* Hero Section Start */

.hero-section {
    min-height: 100vh;
    padding: 50px;
    position: relative;
    margin-top: 60px;
}


.hero-section::before {
    left: 8%;
    bottom: 87%;
    opacity: 1;
    z-index: 1;
    content: "";
    position: absolute;
    width: 104px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../image/logo/banerCirclelogo.svg');
}

.hero-section .Logo-side-line {
    height: 2px;
    background-color: #bebebe;
    margin-left: 20px;
    width: 15%;

}

.hero-section::after {
    left: -2%;
    top: -30%;
    bottom: 76%;
    z-index: 0;
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../image/circles.png");
}

/* Right Hero Section */
.right-hero {
    width: 50%;
    max-width: 600px;
    padding-left: 90px;
    padding-top: 88px;
}

.right-hero h1 {
    font-size: var(--font-size-70);
    color: var(--text-dark-color);
    font-weight: var(--font-bold);
    margin-bottom: 40px;
}

.right-hero span {
    display: block;

}

.right-hero p {
    color: var(--text-body-color);
    margin-bottom: 40px;
}

.hero-btn {
    gap: 15px;
    margin-bottom: 20px;
    justify-content: center
}


.social-icons {
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.social-icons a img {
    width: 38px;
    border: 2px solid black;
    border-radius: 50px;
    padding: 5px;
}


.left-hero {
    width: 50%;
    display: flex;
    justify-content: center;

}


.img-wrap {
    position: relative;
    display: inline-block;
}


.main-img {
    width: 80%;
    bottom: 10%;
    left: -50%;
    transform: translateX(10%);
}


.img-wrap img:nth-child(2) {
    width: 200px;
    height: 200px;
    left: -67px;
    bottom: 19px;
    position: absolute;
}

.img-wrap .bg-down img {
    width: 200px;
    height: 200px;

}

.img-wrap::before,
.img-wrap::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
}


.img-wrap::before {
    background-image: url('../image/texture/banerleaf-3.svg');
    width: 300px;
    height: 300px;
    top: -43px;
    left: -100px;

}

.img-wrap::after {
    background-image: url('../image/texture/banerleaf.svg');
    width: 221px;
    height: 235px;
    top: -75px;
    right: -35px;

}

.bg-down {
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;

}

.bg-down::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/texture/banerleaf-2.svg');
    width: 150px;
    height: 250px;
    bottom: 0;
    right: -52px;

}

/* Hero Section End */

/* Responsive Design  Hero section Start*/

@media (max-width: 1200px) {
    .hero-section {
        flex-direction: column-reverse;
    }

    .right-hero {
        width: 100%;
        max-width: 600px;
        padding-left: 90px;
        padding-top: 88px;
    }

}


@media (max-width: 1000px) {
    .img-wrap::after {
        width: 152px;
        height: 142px;
        top: -59px;
        right: -89px;
    }

    .bg-down::after {
        width: 111px;
        height: 152px;
        bottom: 8px;
        right: -102px;

    }

    .img-wrap img:nth-child(2) {
        width: 155px;
        height: 143px;
        left: -67px;
        bottom: 19px;

    }

    .main-img {
        width: 100%;
    }
}

@media (max-width: 875px) {
    .bg-down::after {

        width: 111px;
        height: 160px;
        bottom: 15px;
        right: -105px;

    }

    .img-wrap::after {
        width: 172px;
        height: 172px;
        top: -68px;
        right: -101px;

    }

    .img-wrap::before {
        width: 262px;
        height: 127px;
        top: -44px;
        left: -82px;

    }

    .main-img {
        max-width: 350px;
        bottom: 10%;

    }

    .right-hero h1 {
        font-size: var(--font-size-60);
    }
    .right-hero span {
        display: inline;
    
    }

    .hero-section .Logo-side-line {
        display: none;
    }
}

@media (max-width: 755px) {
    .bg-down::after {

        width: 106px;
        height: 140px;
        bottom: 15px;
        right: -159px;

    }

    .img-wrap::after {
        width: 145px;
        height: 135px;
        top: -59px;
        right: -143px;

    }

    .img-wrap::before {
        width: 262px;
        height: 127px;
        top: -44px;
        left: -82px;

    }

    .main-img {
        width: 140%;

    }

    .right-hero h1 {
        font-size: var(--font-size-50);
    }

    .hero-section .Logo-side-line {
        display: none;
    }
}

@media (max-width: 640px) {
    .hero-section::after {
        left: -7%;
        top: -17%;
        bottom: 76%;
        width: 407px;
        height: 433px;

    }

    .right-hero h1 {
        font-size: var(--font-size-50);
    }

    .hero-section .Logo-side-line {
        display: none;
    }

}

@media (max-width: 480px) {
    .hero-section::before {
        left: 7%;
        bottom: 67%;
    }

    .hero-section::after {
        left: -7%;
        top: -16%;
        bottom: 76%;
        width: 355px;
        height: 349px;
    }

    .main-img {
        width: 134%;
    }

    .bg-down::after {
        width: 109px;
        height: 123px;
        bottom: 10px;
        right: -142px;
    }

    .img-wrap::after {
        width: 126px;
        height: 114px;
        top: -49px;
        right: -119px;
    }

    .img-wrap img:nth-child(2) {
        width: 147px;
        height: 105px;
        left: -67px;
        bottom: 13px;
    }

    .img-wrap::before {
        width: 198px;
        height: 84px;
        top: -40px;
        left: -58px;
    }

    .right-hero h1 {
        font-size: var(--font-size-40);
    }

    .hero-section .Logo-side-line {
        display: none;
    }
}

@media (max-width: 325px) {
    .left-hero {
        display: none;
    }

    .btn-orange {
        padding: 2px 3px;
    }

    .right-hero h1 {
        font-size: var(--font-size-40);
    }

    .hero-section .Logo-side-line {
        display: none;
    }
}

/* Responsive Design  Hero section End*/

/* featured-dishes Section Start */

.featured-dishes {
    background: var(--background-color);
    padding: 110px 0;
}

.bg-texture-1 {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    translate: 152% -9%;
    opacity: 0.4;
    width: 200px;
}

.bg-texture-2 {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    translate: 551% 3%;
    opacity: 0.4;
    width: 152px;
}

.bg-texture-3 {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    translate: 673% 627%;
    opacity: 0.9;
    width: 170px;
}

.bg-texture-4 {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    translate: 266% 567%;
    opacity: 0.9;
    width: 199px;
}


.featured-dishes .highlighted-menu {
    flex-direction: column;
    padding: 35px 0;
}

.featured-dishes .highlighted-menu p {
    width: 25%;
    padding: 25px 0;

}

.featured-dishes .dish-collection {
    gap: 45px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dish-card {
    transition: .3s;
    position: relative;
    border: 2px solid var(--white-color);
    border-radius: 30px 5px 30px 5px;
    padding: 40px 20px;
    height: 300px;
    flex-direction: column;
    justify-content: end;
    width: 265px;
    margin-top: 50px;
}

.dish-bg-1 {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    translate: 529% 611%;
    opacity: 0.8;
    width: 133px;
}

.dish-bg-2 {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    translate: 451% 468%;
    opacity: 0.8;
    width: 240px;
}

.dish-bg-3 {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    translate: 344% 673%;
    opacity: 0.8;
    width: 188px;
}

.dish-card:first-child {
    background-color: var(--white-color);
}

.dish-card img {
    position: absolute;
    top: -25%;
    left: 12%;
}

.dish-card h4 {
    padding: 20px 0;
}



.dish-price {
    position: absolute;
    top: -35px;
    background: black;
    color: var(--white-color);
    padding: 15px 12px;
    border-radius: 50px;
    right: 18px;
}

.restaurant-section {
    max-width: 1200px;
    width: 80%;
    justify-content: center;
    padding-top: 100px;

}

.restaurant-content p {
    margin: 30px 0;

}

.restaurant-section img {
    max-width: 600px;
    width: 100%;
}

.restaurant-btn-group .btn-orange {
    margin-left: 30px;
}

.featured-dishes .flex-content {
    width: 30%;
}

.featured-dishes .flex-content p {
    padding: 40px 0;
}

/* featured-dishes Section End*/

/* Responsive Section featured-dishes  Start */
@media (max-width: 1200px) {
    .restaurant-section {
        flex-direction: column;
    }

    .restaurant-content {
        flex-direction: column;
    }

    .restaurant-btn-group {
        display: flex;
        justify-content: center;
    }

    .bg-texture-1 {
        display: none;
    }

    .bg-texture-2 {
        display: none;
    }

    .bg-texture-3 {
        display: none;
    }

    .bg-texture-4 {
        display: none;
    }

    .dish-bg-1 {
        display: none;
    }

    .dish-bg-2 {
        display: none;
    }

    .dish-bg-3 {
        display: none;
    }

}

@media (max-width: 992px) {
    .restaurant-content {
        text-align: center;
    }

}

/* Responsive Section featured-dishes  Start */

/* Chef Section Start */
.chef-Section {
    padding: 63px 0px;
    justify-content: space-evenly;
}

.chef-Container::before {
    content: '';
    background-image: url(../image/texture/card-bg.png);
    position: absolute;
    top: 40px;
    left: -110px;
    width: 600px;
    height: 250px;
    max-width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
}

.chef-Container span {
    display: block;
}

.chef-Details {
    padding: 66px 44px;
    flex-wrap: wrap;
    gap: 33px;
}


.chef-Item {
    gap: 10px;
    padding: 8px 0;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-width: 300px;
}

.fa-solid {
    background: var(--btn-color);
    color: var(--white-color);
    padding: 3px 4px;
    border-radius: 15px;
}


.chef-Container {
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.title {
    margin-bottom: 20px
}

/* Chef Section Start */

/* Chef section Responsive Start */

@media (max-width: 1000px) {
    .chef-Section {
        flex-direction: column-reverse;
        text-align: center;
    }

}

@media (max-width: 768px) {
    .chef-Section {
        flex-direction: column-reverse;

    }

    .chef-Container::before {
        top: 60%;
        left: -136px;
        width: 309px;
        height: 309px;
        max-width: 100%;

    }
}

@media (max-width: 480px) {
    .chef-Container::before {

        top: 60%;
        left: -136px;
        width: 309px;
        height: 309px;
        max-width: 100%;

    }
}

/* Chef section Responsive Start */


/* Customers Review Section Start*/
.customer-reviews {
    background-color: var(--background-color);
    padding: 180px 0;
    position: relative;

}

.testimonial {
    position: relative;
    max-width: 600px;
    background: var(--white-color);
    padding: 40px 30px;
    border-radius: 115px 40px 115px 40px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 201px;
}

.customer-photo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.rating {
    margin-top: 30px;
}

.testimonial-message {
    color: var(--text-body-color);
    margin: 15px 0;
    line-height: var(--line-height-26);
}

.customer-name {
    margin-top: 10px;
    color: var(--text-dark-color);
}

.customer-position {
    color: var(--text-body-color);
}

.reviews-section {
    flex-direction: column;
    gap: 100px;

}

.customer-reviews .reviews-section p {
    padding: 20px 5px;
    width: 60%;
    margin: auto;
}

.dot {
    justify-content: center;
    position: relative;
    bottom: 90px;
}

.dot li {

    width: 5px;
    list-style: none;
    height: 5px;
    margin: 10px;
    border-radius: 50%;
    background-color: lightgray;
    transition: background-color 0.3s, transform 0.3s;
}

.dot li.active {
    background-color: var(--btn-color);
    transform: scale(1.5);
}

.reviews-section::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    background: url(../image/texture/Group.svg);
    width: 100%;
    max-width: 600px;
    height: 600px;
    z-index: -1;
    opacity: 0.5;
    background-repeat: no-repeat;
}

@media (max-width: 1000px) {
    .reviews-section::before {
        display: none;
    }
}

/* Customers Review Section Start*/